@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
#root {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  background-color: rgb(241 245 249);
  font-family: 'Quicksand', sans-serif;
}

/* body {
  margin: 0 auto;
  width: max-content;
  box-sizing: border-box;
  background-color: black;
} */


/* body {
  margin: 0 auto;
  width: max-content;
  box-sizing: border-box;
  background-color: black;
} */




